; SPDX-FileCopyrightText: 2026 ts-bastion contributors
; SPDX-FileContributor: EriTheRed aka Azelann Borde <azelann.borde@gmail.com>
;
; SPDX-License-Identifier: MIT

engine-strict=true
save-exact=true
package-lock=true
fund=false
audit=true
provenance=true
