# SPDX-FileCopyrightText: 2026 ts-bastion contributors
# SPDX-FileContributor: EriTheRed aka Azelann Borde <azelann.borde@gmail.com>
#
# SPDX-License-Identifier: MIT

dist
coverage
reports
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock
.github
eslint.config.js
knip.json
lint-staged.config.js
